html::-webkit-scrollbar {
    display: none;
}

.brand-name {
    letter-spacing: 0.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: 700;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.navbar-brand {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding-left: 8px;
}

.logo {
    filter: drop-shadow(0 0 6px #ffffff11);
}

.bar {
    display: flex;
    overflow-x: auto;
}

.bar::-webkit-scrollbar {
    display: none;
}

.featured {
    display: flex;
    animation: spin 510s infinite linear;
    justify-content: center;
    justify-items: center;
    padding-right: 1em;

}

.slider-item {
    height: 5em;
    flex: 0 0 5em;
    padding: 1em;
    border-radius: 25px;
}

.artwork {
    border-radius: 25px;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}