html::-webkit-scrollbar {
    display: none;
}

.site-name {
    letter-spacing: 0.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 1vw;
    line-height: 1;
    align-self: center;
}


.navbar-brand {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding-left: 8px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand img {
    display: block;
    margin-top: 8px;
}

.nav-link {
    font-weight: 600;
    font-size: 1.6rem;       
    padding-left: 1.2rem;    
    padding-right: 1.2rem;
}

#nav {
    margin-right: 3rem;
}

.logo {
    filter: drop-shadow(0 0 6px #ffffff18);
    pointer-events: none;
}

.bar {
    display: flex;
    overflow: hidden;
    border-bottom: 5px snow solid;
    border-top: 5px snow solid;
    box-shadow: 0 0 10px black;
}

.bar::-webkit-scrollbar {
    display: none;
}

.featured {
    display: flex;
    animation: spin infinite linear;
    padding-right: 6em;
    will-change: transform;
}

.slider-item {
    flex: 0 0 auto;
}

.slider-item img {
    object-fit: cover;
    border-radius: 15px;
    pointer-events: none;
    transition: transform 0.5s;
    border: 2px snow solid;
    box-shadow: 0px 0px 20px white;
}

.slider-item:hover img {
    transform: scale(1.1);
}

/* telefoon */
@media (min-width: 375px) and (max-width: 980px){
    .slider-item img {
        width: 220px;
        height: 220px;
    }
    .site-name {
        font-size: 7vw;
    }

}

/* tablet */
@media (min-width: 981px) and (max-width: 1280px) {
    .slider-item img {
        width: 220px;
        height: 220px;
    }

}

/* laptop */
@media (min-width: 1280px) and (max-width: 1439px) {
    .slider-item img {
        width: 200px;
        height: 200px;
    }
    .site-name {
        font-size: 5vw;
    }

}

/* desktop */
@media (min-width: 1440px) {
    .slider-item img {
        width: 256px;
        height: 256px;
    }
    .site-name {
        font-size: 3vw;
    }

}
@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}